In [1]:
from Derivatives import Sensibull
from datetime import datetime
from Derivatives import NSE

ModuleNotFoundError: No module named 'pandas'

In [15]:
sb = Sensibull()
nse = NSE()

# Option Chain with Options Greeks.
## Option Chain for Indices

In [19]:
# Searching
sb_nifty_token = sb.search_token('NIFTY')
expiry = nse.get_options_expiry('NIFTY', is_index=True)
sb_nifty_token.get('instrument_token'), sb_nifty_token

(256265,
 {'instrument_token': 256265,
  'name': 'NIFTY 50',
  'tradingsymbol': 'NIFTY',
  'underlying_instrument': 'NIFTY',
  'expiry': '',
  'strike': 0.0,
  'tick_size': 0.0,
  'lot_size': 0.0,
  'multiplier': 1.0,
  'is_underlying': True,
  'is_non_fno': False,
  'tradable': False,
  'broker': '2',
  'mode': 'full',
  'exchange': 'NSE',
  'segment': 'NSE-INDICES',
  'instrument_type': 'EQ',
  'last_price': 20122.55,
  'last_updated_at': '2023-09-18T15:29:59+05:30',
  'last_traded_timestamp': 0,
  'sectors': ['Index']})

In [21]:
greeks_df, atm_strike = sb.get_options_data_with_greeks(sb_nifty_token, num_look_ups_from_atm=10, expiry_date=expiry[0])

In [22]:
atm_strike

20150.0

In [23]:
greeks_df.head()

,future_price,strike,CE.tradingsymbol,PE.tradingsymbol,CE.last_price,CE.ltp_change,CE.last_trade_time,CE.oi,CE.oi_change,CE.volume,...,PE.ltp_change,PE.last_trade_time,PE.oi,PE.oi_change,PE.volume,PE.greeks_with_iv.theta,PE.greeks_with_iv.delta,PE.greeks_with_iv.gamma,PE.greeks_with_iv.vega,PE.greeks_with_iv.iv
0,20139.807467,19650,NIFTY2392119650CE,NIFTY2392119650PE,495.60,-0.02,1970-01-01T00:00:00Z,33200,-0.047,12150,...,-0.09,1970-01-01T00:00:00Z,1570600,0.175,11230650,-3.01,-0.03,0.0003,1.25,0.144997
1,20139.807467,19700,NIFTY2392119700CE,NIFTY2392119700PE,443.00,-0.03,1970-01-01T00:00:00Z,246450,-0.051,133500,...,-0.08,1970-01-01T00:00:00Z,2633350,-0.189,17293400,-3.22,-0.04,0.0003,1.43,0.135387
2,20139.807467,19750,NIFTY2392119750CE,NIFTY2392119750PE,396.25,-0.03,1970-01-01T00:00:00Z,58600,-0.164,38400,...,-0.15,1970-01-01T00:00:00Z,1631200,0.452,13498050,-3.34,-0.04,0.0004,1.61,0.124438
3,20139.807467,19800,NIFTY2392119800CE,NIFTY2392119800PE,346.00,-0.02,1970-01-01T00:00:00Z,370750,0.015,607450,...,0.05,1970-01-01T00:00:00Z,5972450,0.387,29045500,-4.54,-0.06,0.0005,2.23,0.122334
4,20139.807467,19850,NIFTY2392119850CE,NIFTY2392119850PE,295.80,-0.03,1970-01-01T00:00:00Z,84800,-0.015,134950,...,0.06,1970-01-01T00:00:00Z,2216050,0.331,18014100,-5.10,-0.08,0.0007,2.69,0.113678

# Option Chain with Options Greeks.
## Option Chain for Equities

In [31]:
# An example for Equity
sb_sbi = sb.search_token('SBIN')
expiry = nse.get_options_expiry('SBIN', is_index=False)
sb_sbi.get('instrument_token'), sb_sbi

(779521,
 {'instrument_token': 779521,
  'name': 'STATE BANK OF INDIA',
  'tradingsymbol': 'SBIN',
  'underlying_instrument': 'SBIN',
  'expiry': '',
  'strike': 0.0,
  'tick_size': 0.05,
  'lot_size': 1.0,
  'multiplier': 1.0,
  'is_underlying': True,
  'is_non_fno': False,
  'tradable': True,
  'broker': '2',
  'mode': 'full',
  'exchange': 'NSE',
  'segment': 'NSE',
  'instrument_type': 'EQ',
  'last_price': 603.0,
  'last_quantity': 15,
  'volume': 19300007,
  'oi': 0,
  'last_updated_at': '2023-09-18T15:29:59+05:30',
  'last_traded_timestamp': 1695031199,
  'sectors': ['Financial Services', 'NIFTY50']})

In [27]:
expiry

[datetime.datetime(2023, 9, 28, 0, 0),
 datetime.datetime(2023, 10, 26, 0, 0),
 datetime.datetime(2023, 11, 30, 0, 0)]

In [28]:
greeks_df, atm_strike = sb.get_options_data_with_greeks(sb_sbi, num_look_ups_from_atm=5, expiry_date=expiry[0])

In [29]:
atm_strike

605.0

In [30]:
greeks_df.head()

,future_price,strike,CE.tradingsymbol,PE.tradingsymbol,CE.last_price,CE.ltp_change,CE.last_trade_time,CE.oi,CE.oi_change,CE.volume,...,PE.ltp_change,PE.last_trade_time,PE.oi,PE.oi_change,PE.volume,PE.greeks_with_iv.theta,PE.greeks_with_iv.delta,PE.greeks_with_iv.gamma,PE.greeks_with_iv.vega,PE.greeks_with_iv.iv
0,603.5,580,SBIN23SEP580CE,SBIN23SEP580PE,24.80,-0.03,1970-01-01T00:00:00Z,3096000,-0.120,2086500,...,-0.04,1970-01-01T00:00:00Z,3456000,0.018,7240500,-0.2140,-0.1232,0.0097,0.2036,0.210195
1,603.5,585,SBIN23SEP585CE,SBIN23SEP585PE,20.20,-0.02,1970-01-01T00:00:00Z,1434000,-0.043,738000,...,0.00,1970-01-01T00:00:00Z,1695000,0.085,3879000,-0.2537,-0.1701,0.0126,0.2528,0.200675
2,603.5,590,SBIN23SEP590CE,SBIN23SEP590PE,16.00,-0.05,1970-01-01T00:00:00Z,4113000,-0.149,6268500,...,-0.02,1970-01-01T00:00:00Z,3496500,0.195,10117500,-0.2969,-0.2350,0.0159,0.3070,0.193461
3,603.5,595,SBIN23SEP595CE,SBIN23SEP595PE,12.55,-0.05,1970-01-01T00:00:00Z,1042500,-0.528,6334500,...,0.04,1970-01-01T00:00:00Z,1342500,0.211,5961000,-0.3473,-0.3233,0.0186,0.3587,0.193630
4,603.5,600,SBIN23SEP600CE,SBIN23SEP600PE,9.40,-0.07,1970-01-01T00:00:00Z,10377000,-0.403,42922500,...,0.03,1970-01-01T00:00:00Z,5596500,0.020,18556500,-0.3799,-0.4220,0.0201,0.3909,0.194397