In [1]:
from Fundamentals import Tickertape
import pandas as pd

In [2]:
ttp = Tickertape()

In [3]:
# Searching in tickertape
res, raw_data = ttp.get_ticker('Adani wilmar')
print(res)
raw_data[0]

AWL

{'marketCap': 45696.6997518,
 'ticker': 'AWL',
 'brands': [],
 'searchTags_keyword': ['adani wilmar ltd', 'awl'],
 'marketCapRank': 145,
 'searchTags': ['adani wilmar ltd', 'awl'],
 'exchanges': 'NSE',
 'weight': 1,
 'ticker_keyword': 'AWL',
 'suspended': False,
 'sid': 'AWL',
 'name_suggest': 'Adani Wilmar Ltd',
 'brands_keyword': [],
 'name_keyword': 'Adani Wilmar Ltd',
 'ticker_suggest': 'AWL',
 'name': 'Adani Wilmar Ltd',
 'id': 'AWL',
 'sector': 'Consumer Staples',
 'ticker_key': 'AWL',
 'slug': '/stocks/adani-wilmar-AWL',
 'quote': {'sid': 'AWL',
  'price': 350.05,
  'close': 351.6,
  'change': -1.55,
  'high': 352.65,
  'low': 349.2,
  'volume': 533115,
  'date': '2023-09-20T06:52:56.000Z'},
 'score': 2187.5227,
 'index': 'stock',
 'type': 'stock',
 'match': 'EXACT'}

In [21]:
# Allowed search_places = ['stock', 'index', 'etf', 'mutualfund', 'space', 'profile', 'smallcase', 'all']
_, raw_data = ttp.get_ticker('Nifty 500', search_place='index')
raw_data[1] # here ticker is the unique id of NSE and sid is the id of Tickertape

{'marketCap': '29418799.79',
 'ticker': 'NIFTY 500',
 'weight': 1,
 'ticker_keyword': 'NIFTY 500',
 'type': 'index',
 'suspended': False,
 'sid': '.NIFTY500',
 'name_suggest': 'Nifty 500 Index',
 'name_keyword': 'Nifty 500 Index',
 'ticker_suggest': 'NIFTY 500',
 'name': 'Nifty 500 Index',
 'id': '.NIFTY500',
 'sector': 'Index',
 'ticker_key': 'NIFTY 500',
 'slug': '/indices/nifty-500-index-.NIFTY500',
 'quote': {'sid': '.NIFTY500',
  'price': 17613.6,
  'close': 17613.6,
  'change': 0,
  'high': 17671.6,
  'low': 17601.55,
  'volume': 0,
  'date': '2023-09-19T02:41:10.759Z'},
 'score': 1178.5251,
 'index': 'index',
 'match': 'EXACT'}

In [23]:
# Get all tickers (sid in Tickertape) of NIFTY 50
ttp.get_all_nifty_50_ticker()

['APSE',
 'ADEL',
 'APLH',
 'AXBK',
 'ASPN',
 'BJFS',
 'BAJA',
 'BJFN',
 'BRIT',
 'BRTI',
 'BPCL',
 'CIPL',
 'COAL',
 'REDY',
 'DIVI',
 'EICH',
 'GRAS',
 'HALC',
 'HDBK',
 'HDFL',
 'HCLT',
 'HLL',
 'HROM',
 'ICBK',
 'ITC',
 'INFY',
 'INBK',
 'JSTL',
 'KTKM',
 'LART',
 'LRTI',
 'MAHM',
 'MRTI',
 'NEST',
 'ONGC',
 'NTPC',
 'PGRD',
 'RELI',
 'SBI',
 'SBIL',
 'SUN',
 'TISC',
 'TACN',
 'TAMO',
 'TCS',
 'TEML',
 'TITN',
 'UPLL',
 'ULTC',
 'WIPR']

In [18]:
# Get all tickers of an Index
ttp.get_all_constituents_of_index('.NIFTY500')

,_id,sid,ticker,name,sector,lastPrice,pr1d,slug,freeFloat,type
0,5f6c78c9896509a8eb2f90e6,ADIA,ABFRL,Aditya Birla Fashion and Retail Ltd,Consumer Discretionary,225.50,0.088771,/stocks/aditya-birla-fashion-and-retail-ADIA,33.452543,stock
1,5f6c78c9896509a8eb2f9120,AFFL,AFFLE,Affle (India) Ltd,Communication Services,1105.10,-0.432471,/stocks/affle-india-AFFL,5.325267,stock
2,5f6c78c9896509a8eb2f90d2,ADRG,AARTIDRUGS,Aarti Drugs Ltd,Health Care,593.35,1.531485,/stocks/aarti-drugs-ADRG,3.175814,stock
3,5f6c78c9896509a8eb2f90d4,ARTI,AARTIIND,Aarti Industries Ltd,Materials,511.95,-0.107317,/stocks/aarti-industries-ARTI,20.296712,stock
4,5f6c78c9896509a8eb2f90f6,ACC,ACC,ACC Ltd,Materials,2006.70,-0.994153,/stocks/acc-ACC,7.789898,stock
...,...,...,...,...,...,...,...,...,...,...
496,63798330b11164404f46cdd9,FIVES,FIVESTAR,Five-Star Business Finance Ltd,Financials,699.85,1.788961,/stocks/five-star-business-finance-FIVES,16.056853,stock
497,637d77b33021092d47c3f294,RUST,RUSTOMJEE,Keystone Realtors Ltd,Real Estate,584.65,-1.057709,/stocks/keystone-realtors-RUST,1.364193,stock
498,63ab9d1a3c2e783f356aefe0,KFI,KFINTECH,Kfin Technologies Ltd,Industrials,453.35,-2.494892,/stocks/kfin-technologies-KFI,6.243831,stock
499,63ef0a700fe1c694456167b5,NSLN,NSLNISP,NMDC Steel Ltd,Materials,53.75,-0.738689,/stocks/nmdc-steel-NSLN,114.897228,stock
500,6455adb575b71e863426c354,MANKI,MANKIND,Mankind Pharma Ltd,Health Care,1734.45,-1.767055,/stocks/mankind-pharma-MANKI,4.275960,stock

# Annual Report/ Quarterly Results extracted data
# some params meanings
time_horizon -> result time period (annual / interim (quarterly) )
time_period -> count of records required (any integer (less than 20))
view_type -> **normal** - just show the numbers as is,  **growth** - what is the % of increase happened compared to last entry (either Annually or Quarterly)

In [24]:
ttp.get_income_data('ADAI') # time_horizon = interim (quarterly), time_periods = 10 (10 qtrs), view = Normal

,displayPeriod,endDate,reporting,qIncTrev,qIncRaw,qIncPfc,qIncEpc,qIncSga,qIncOpe,qIncEbi,qIncDep,qIncPbi,qIncIoi,qIncPbt,qIncToi,qIncNinc,qIncEps,qIncDps,qIncPyr
0,MAR 2021,2021-03-31T00:00:00.000Z,consolidated,3075.35,None,None,None,None,1899.18,1176.17,311.87,864.30,494.18,370.12,131.70,238.42,1.67,None,None
1,JUN 2021,2021-06-30T00:00:00.000Z,consolidated,2935.72,None,None,None,None,1439.27,1496.45,342.12,1154.33,614.34,539.99,104.57,435.42,3.39,None,None
2,SEP 2021,2021-09-30T00:00:00.000Z,consolidated,2876.91,None,None,None,None,1587.41,1289.50,352.76,936.74,540.36,396.38,123.81,272.57,1.90,None,None
3,DEC 2021,2021-12-31T00:00:00.000Z,consolidated,3335.71,None,None,None,None,2010.82,1324.89,362.74,962.15,560.24,401.91,134.88,267.03,1.85,None,None
4,MAR 2022,2022-03-31T00:00:00.000Z,consolidated,3411.19,None,None,None,None,2029.42,1381.77,369.53,1012.24,650.01,362.23,132.64,229.59,1.75,None,None
5,JUN 2022,2022-06-30T00:00:00.000Z,consolidated,3784.42,None,None,None,None,2458.63,1325.79,383.98,941.81,739.98,201.83,15.84,185.99,1.50,None,None
6,SEP 2022,2022-09-30T00:00:00.000Z,consolidated,3449.56,None,None,None,None,2087.86,1361.70,397.84,963.86,713.91,249.95,43.78,206.17,1.85,None,None
7,DEC 2022,2022-12-31T00:00:00.000Z,consolidated,3781.94,None,None,None,None,2074.16,1707.78,410.37,1297.41,697.09,600.32,125.60,474.72,4.26,None,None
8,MAR 2023,2023-03-31T00:00:00.000Z,consolidated,3860.12,None,None,None,None,2154.46,1705.66,415.55,1290.11,630.49,659.62,270.17,389.45,3.49,None,None
9,JUN 2023,2023-06-30T00:00:00.000Z,consolidated,3772.25,None,None,None,None,2394.61,1377.64,418.88,958.76,615.67,343.09,168.03,175.06,1.57,None,None

In [27]:
ttp.get_income_data('ACC', time_horizon='annual', view_type='growth', num_time_periods=12)

,incTrev,incCrev,incGpro,incOpc,incRaw,incPfc,incEpc,incSga,incOpe,incEbi,...,incIoi,incPbt,incToi,incNinc,incEps,incDps,incPyr,displayPeriod,reporting,endDate
0,11621.470000,NaN,NaN,NaN,1710.170000,2384.340000,617.860000,2696.120000,2088.440000,2124.540000,...,114.650000,1440.990000,381.710000,1059.280000,56.305921,30.000000,0.532804,FY 2012,consolidated,NaN
1,-1.638089,NaN,NaN,NaN,3.492635,-0.261708,7.233030,7.568654,-13.361648,-10.052058,...,-0.959442,-15.777348,-68.832360,3.340949,3.340949,0.000000,-3.232938,FY '12 - FY '13,NaN,NaN
2,4.936708,NaN,NaN,NaN,11.978078,2.790883,12.904686,11.112069,1.063342,-7.381553,...,-27.115808,-7.753535,-135.538371,6.134269,6.134269,13.333333,6.782978,FY '13 - FY '14,NaN,NaN
3,-0.654250,NaN,NaN,NaN,-6.752611,-1.955434,3.223047,-77.590343,156.210387,-15.659465,...,-21.894635,-31.621023,520.837275,-49.424179,-49.424179,-50.000000,-1.138530,FY '14 - FY '15,NaN,NaN
4,-6.662449,NaN,NaN,NaN,-13.976202,-9.878707,-1.999586,367.770792,-64.452503,5.385996,...,21.704827,15.646676,27.589501,12.030293,11.957498,0.000000,-10.680390,FY '15 - FY '16,NaN,NaN
5,20.695263,NaN,NaN,NaN,24.600888,25.789500,8.542129,26.402918,-4.909784,30.451448,...,25.244693,47.977545,69.874901,40.425952,40.334766,52.941176,8.983099,FY '16 - FY '17,NaN,NaN
6,11.394415,NaN,NaN,NaN,24.057490,10.448887,7.575241,14.249246,-3.174884,7.255105,...,-10.920532,15.270293,-102.686374,64.480047,64.568605,-46.153846,-67.280422,FY '17 - FY '18,NaN,NaN
7,6.923622,NaN,NaN,NaN,6.537317,4.438105,-1.977184,0.302157,13.053998,24.720821,...,-1.709012,35.918575,6616.505792,-9.408933,-9.360131,0.000000,10.326726,FY '18 - FY '19,NaN,NaN
8,-12.372420,NaN,NaN,NaN,-9.471827,-17.848060,-2.874924,-17.472307,2.842112,-12.401875,...,-33.835632,-16.743808,-58.722282,3.831103,3.775199,0.000000,-3.637863,FY '19 - FY '20,NaN,NaN
9,16.831565,NaN,NaN,NaN,28.296696,30.688443,-0.600326,16.536572,-29.280249,31.475359,...,-4.309741,46.670568,130.878817,30.262624,30.192527,314.285714,218.210057,FY '20 - FY '21,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-100.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FY '21 - FY '22,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FY '22 - FY '23,NaN,NaN
12,-16.546896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-16.647120,-15.580803,...,-0.452899,-17.596873,-17.034611,-17.798592,-17.798592,-100.000000,-100.000000,TTM,,

In [29]:
ttp.get_balance_sheet_data('ARTI', num_time_periods=16, growth=True)

,balCsti,balTrec,balTinv,balOca,balTca,balNetl,balNppe,balGint,balLti,balOtha,...,balTeq,balTlse,balTcso,balTpso,balNca,balCa,balNcl,balDta,displayPeriod,reporting
0,10.560000,406.980000,325.860000,81.780000,825.180000,None,493.940000,3.890000,93.570000,243.250000,...,593.360000,1659.830000,33.053281,None,834.650000,825.180000,333.940000,NaN,FY 2012,consolidated
1,17.613636,5.413042,41.824710,41.856200,23.559708,None,50.289509,-100.000000,1.977129,30.988695,...,28.171768,31.096558,14.552340,None,38.547894,23.559708,22.438163,NaN,FY '12 - FY '13,NaN
2,19.565217,3.307615,31.152223,38.488061,20.129660,None,27.120996,NaN,22.867323,20.635220,...,15.055488,22.708848,11.963936,None,24.982921,20.129660,48.651161,NaN,FY '13 - FY '14,NaN
3,127.003367,-0.952166,-8.973471,7.830200,-2.218267,None,22.913730,NaN,18.730809,14.745824,...,16.828187,10.025767,0.007941,None,20.402134,-2.218267,36.190131,NaN,FY '14 - FY '15,NaN
4,-14.001780,19.230944,-10.247766,7.602170,3.033415,None,34.369342,NaN,-70.359195,-70.013150,...,16.347932,0.975553,-5.954042,None,-0.440764,3.033415,-20.990637,NaN,FY '15 - FY '16,NaN
5,-1.690238,0.242644,15.392072,3.326002,6.742356,None,26.041513,404.761905,13.814833,27.294723,...,19.920295,17.952927,-1.441871,None,25.937812,6.742356,15.035168,NaN,FY '16 - FY '17,NaN
6,12.631579,24.792727,30.781750,30.206116,27.919283,None,23.822808,-18.867925,0.553663,33.749109,...,16.064418,25.504351,-0.996725,None,24.046456,27.919283,52.815919,NaN,FY '17 - FY '18,NaN
7,2405.295950,18.524628,3.277131,-10.251605,52.949660,None,20.864989,-23.255814,-29.775519,36.082245,...,63.986831,33.393905,6.602165,None,21.219500,52.949660,5.338007,NaN,FY '18 - FY '19,NaN
8,-69.250187,-2.912221,8.278159,-25.155500,-22.204718,None,32.153596,-30.303030,11.610374,32.000783,...,13.212044,8.101141,-3.725648,None,31.906560,-22.204718,10.874035,NaN,FY '19 - FY '20,NaN
9,66.735412,5.347473,11.966303,34.079307,18.092445,None,25.871961,-89.130435,71.629289,-20.870726,...,14.373379,20.673983,-0.002182,None,21.869938,18.092445,28.572918,NaN,FY '20 - FY '21,NaN
10,-57.906480,37.517796,-0.166724,121.202462,13.990117,None,1.027525,-100.000000,-55.462846,-51.513731,...,28.492749,2.735132,4.028551,None,-2.317371,13.990117,-32.325070,NaN,FY '21 - FY '22,NaN
11,15.654529,-13.836668,10.376611,-42.555491,-8.876069,None,20.574865,NaN,-39.307176,-39.106901,...,8.946797,9.301221,-12.727019,None,18.823493,-8.876069,-24.955064,90.266763,FY '22 - FY '23,NaN

In [31]:
ttp.get_balance_sheet_data('ALKY', num_time_periods=10) # View_type = Normal

,displayPeriod,endDate,reporting,balCsti,balTrec,balTinv,balOca,balTca,balNetl,balNppe,...,balRtne,balOeq,balTeq,balTlse,balTcso,balTpso,balNca,balCa,balNcl,balDta
0,FY 2014,2014-03-31T00:00:00.000Z,standalone,22.86,89.80,82.72,19.05,214.43,None,157.3029,...,117.07,0.00,140.19,388.41,50.994900,None,173.98,214.43,87.66,None
1,FY 2015,2015-03-31T00:00:00.000Z,standalone,7.86,98.93,70.54,21.10,198.43,None,181.2422,...,151.70,0.00,174.82,402.03,5.101048,None,203.60,198.43,79.03,None
2,FY 2016,2016-03-31T00:00:00.000Z,standalone,4.27,90.30,63.16,26.08,183.81,None,202.9415,...,176.35,0.00,199.47,406.39,5.101048,None,222.58,183.81,75.97,None
3,FY 2017,2017-03-31T00:00:00.000Z,standalone,2.96,97.34,111.41,13.31,225.02,None,254.4792,...,222.45,0.00,245.57,512.21,5.099098,None,287.19,225.02,106.07,None
4,FY 2018,2018-03-31T00:00:00.000Z,standalone,3.23,123.78,85.18,26.19,238.38,None,373.2459,...,274.04,0.00,297.16,637.05,5.099098,None,398.67,238.38,160.35,None
5,FY 2019,2019-03-31T00:00:00.000Z,standalone,20.17,152.63,105.69,33.53,312.02,None,419.2659,...,341.88,0.00,365.00,748.51,5.099098,None,436.49,312.02,135.75,None
6,FY 2020,2020-03-31T00:00:00.000Z,standalone,32.26,164.22,83.67,14.00,294.15,None,468.0687,...,513.48,0.00,536.60,783.39,5.099098,None,489.24,294.15,92.98,None
7,FY 2021,2021-03-31T00:00:00.000Z,standalone,156.28,227.99,122.04,21.76,528.07,None,595.6700,...,767.86,0.12,792.45,1145.49,5.103178,None,617.42,528.07,71.10,None
8,FY 2022,2022-03-31T00:00:00.000Z,standalone,62.57,276.74,164.61,33.73,537.65,None,771.5900,...,963.33,0.00,989.80,1371.40,5.107245,None,833.75,537.65,53.60,None
9,FY 2023,2023-03-31T00:00:00.000Z,standalone,18.23,258.42,183.85,38.50,499.00,None,1071.1900,...,1140.06,0.00,1168.93,1590.27,5.110063,None,1091.27,499.00,68.80,None

In [33]:
ttp.get_cash_flow_data('TCS', num_time_periods=10, growth=False) # these 2 are default values ideally no need to pass {num_time_periods=10, growth=False}

,displayPeriod,endDate,reporting,cafCiwc,cafCfoa,cafCexp,cafCfia,cafTcdp,cafCffa,cafFee,cafNcic,cafFcf
0,FY 2014,2014-03-31T00:00:00.000Z,consolidated,-10494.42,14751.41,3126.15,-9451.67,5520.03,-5673.24,None,-373.50,11625.26
1,FY 2015,2015-03-31T00:00:00.000Z,consolidated,-6734.54,19368.78,2949.20,-1807.14,17105.57,-17167.61,None,394.03,16419.58
2,FY 2016,2016-03-31T00:00:00.000Z,consolidated,-12522.00,19109.00,1987.00,-5010.00,9515.00,-9666.00,None,4433.00,17122.00
3,FY 2017,2017-03-31T00:00:00.000Z,consolidated,-8577.00,25223.00,1989.00,-16895.00,10973.00,-11026.00,None,-2698.00,23234.00
4,FY 2018,2018-03-31T00:00:00.000Z,consolidated,-7818.00,25067.00,1862.00,3104.00,10760.00,-26885.00,None,1286.00,23205.00
5,FY 2019,2019-03-31T00:00:00.000Z,consolidated,-12127.00,28593.00,2231.00,1645.00,11472.00,-27897.00,None,2341.00,26362.00
6,FY 2020,2020-03-31T00:00:00.000Z,consolidated,-10513.00,32369.00,2730.00,8968.00,37702.00,-39915.00,None,1422.00,29639.00
7,FY 2021,2021-03-31T00:00:00.000Z,consolidated,-8229.00,38802.00,3176.00,-7956.00,10907.00,-32634.00,None,-1788.00,35626.00
8,FY 2022,2022-03-31T00:00:00.000Z,consolidated,-14255.00,39949.00,2995.00,-738.00,13375.00,-33581.00,None,5630.00,36954.00
9,FY 2023,2023-03-31T00:00:00.000Z,consolidated,-17183.00,41965.00,3100.00,548.00,41410.00,-47878.00,None,-5365.00,38865.00

# Peers Comparison
comparison type is either `valuation` (default) or  `Technical`

In [22]:
ttp.peers_comparison('TCS') # this comparison is based on valuation

,name,ticker,sid,sector,slug,description,ratios_ttmPe,ratios_pbr,ratios_divDps,ratios_apef
0,Tata Consultancy Services Ltd,TCS,TCS,IT Services & Consulting,/stocks/tata-consultancy-services-TCS,Tata Consultancy Services Limited (TCS) is eng...,30.165028,14.467347,3.188997,31.307301
1,Infosys Ltd,INFY,INFY,IT Services & Consulting,/stocks/infosys-INFY,NaN,25.016336,8.145698,2.277883,25.623705
2,HCL Technologies Ltd,HCLTECH,HCLT,IT Services & Consulting,/stocks/hcl-technologies-HCLT,NaN,23.395915,5.402690,3.686574,23.791335
3,Wipro Ltd,WIPRO,WIPR,IT Services & Consulting,/stocks/wipro-WIPR,NaN,19.503721,2.924926,0.241391,20.030407
4,LTIMindtree Ltd,LTIM,LRTI,IT Services & Consulting,/stocks/larsen-and-toubro-infotech-LRTI,NaN,36.627180,9.828473,1.087893,37.008548

In [37]:
ttp.peers_comparison('TAMO', comparison_type='technical')

,name,ticker,sid,sector,slug,description,ratios_12mVol,ratios_14dRsi
0,Tata Motors Ltd,TATAMOTORS,TAMO,Four Wheelers,/stocks/tata-motors-TAMO,Tata Motors Limited is an automobile company e...,25.698566,69.648365
1,Maruti Suzuki India Ltd,MARUTI,MRTI,Four Wheelers,/stocks/maruti-suzuki-india-MRTI,NaN,18.583329,82.760569
2,Mahindra and Mahindra Ltd,M&M,MAHM,Four Wheelers,/stocks/mahindra-and-mahindra-MAHM,NaN,22.968798,61.685824
3,Tata Motors Ltd,TATAMTRDVR,TAMdv,Four Wheelers,/stocks/tata-motors---dvr-TAMdv,NaN,34.870409,26.408912
4,Force Motors Ltd,FORCEMOT,FORC,Four Wheelers,/stocks/force-motors-FORC,NaN,46.860959,69.457497

# TickerTape SCORE CARD

In [38]:
ttp.get_score_card('INFY')

,name,tag,type,description,colour,rank,peers,locked,callout,comment,stack,elements,score_percentage,score_max,score_value,score_key,score
0,Performance,Avg,score,"Price return has been average, nothing exciting",yellow,None,None,True,None,None,1,[],False,10.0,NaN,Performance,NaN
1,Valuation,High,score,Seems to be overvalued vs the market average,red,None,None,True,None,None,2,[],False,10.0,NaN,Valuation,NaN
2,Growth,Low,score,Lagging behind the market in financials growth,red,None,None,True,None,None,3,[],False,10.0,NaN,Growth,NaN
3,Profitability,High,score,Showing good signs of profitability & efficiency,green,None,None,True,None,None,4,[],False,10.0,NaN,Profitability,NaN
4,Entry point,Bad,entryPoint,The stock is overpriced and in the overbought ...,red,None,None,False,None,None,5,"[{'title': 'Fundamentals', 'type': 'flag', 'de...",NaN,NaN,NaN,NaN,NaN
5,Red flags,Low,redFlag,No red flag found,green,None,None,False,None,None,6,"[{'title': 'ASM', 'type': 'flag', 'description...",NaN,NaN,NaN,NaN,NaN

# Share Holding Pattern Q-O-Q

In [7]:
_, raw_data = ttp.get_ticker('Tata consult') # TCS
slug_url = raw_data[0].get('slug')
print(slug_url)
ttp.get_share_holding_pattern(slug_url)

/stocks/tata-consultancy-services-TCS

,date,data_pmPctT,data_pmPctP,data_plPctT,data_uPlPctT,data_mfPctT,data_isPctT,data_diPctT,data_othDiPctT,data_othExInsDiPctT,data_fiPctT,data_rhPctT,data_othPctT,data_rOthPctT
0,2022-03-31T00:00:00.000Z,72.297047,0.477552,0.345256,71.951791,3.223157,4.476628,7.809032,4.585875,0.109247,14.149294,4.348591,1.396036,5.744627
1,2022-06-30T00:00:00.000Z,72.297047,0.477552,0.345256,71.951791,3.378630,4.882172,8.357634,4.979004,0.096831,13.497550,4.436833,1.410936,5.847769
2,2022-09-30T00:00:00.000Z,72.297047,0.477552,0.345256,71.951791,3.339062,5.130464,8.581743,5.242681,0.112217,13.054555,4.702294,1.364361,6.066655
3,2022-12-31T00:00:00.000Z,72.297047,0.477552,0.345256,71.951791,3.312344,5.432311,9.312092,5.999748,0.567436,12.944327,4.537205,0.909330,5.446535
4,2023-03-31T00:00:00.000Z,72.297047,0.477552,0.345256,71.951791,3.473143,5.566399,9.635671,6.162529,0.596130,12.717406,4.451126,0.898750,5.349876
5,2023-06-30T00:00:00.000Z,72.297047,0.477552,0.345256,71.951791,3.482790,5.737781,9.808078,6.325288,0.587508,12.514083,4.494516,0.886277,5.380793

# Mutual Funds Holdings of an Equity

In [8]:
_, raw_data = ttp.get_ticker('tata consumer')
slug_url = raw_data[0].get('slug')
print(slug_url)
ttp.get_mutual_fund_holdings(slug_url)

/stocks/tata-consumer-products-TACN

,marketCapPct,change3m,currentRank,prevRank,securities,weight,meta_mfId,meta_isin,meta_name,meta_fullName,meta_option
0,0.484818,-0.087122,19,17,55,1.530544,M_HDCTP,INF179K01YV8,HDFC Top 100 Fund,HDFC Top 100 Fund - Growth - Direct Plan,Growth
1,0.316736,-0.127120,28,25,204,0.705360,M_NIMS,INF204K01K15,Nippon India Small Cap Fund,Nippon India SMALL CAP FUND DIRECT PLAN GROWTH...,Growth
2,0.314274,0.029757,20,42,80,1.478544,M_ADTUE,INF209K01XX1,Aditya Birla SL Flexi Cap Fund,Aditya Birla Sun Life Flexi Cap Fund - Growth ...,Growth
3,0.220748,-0.084339,53,51,83,0.572265,M_KORY,INF174K01LT0,Kotak Emerging Equity Fund,KOTAK EMERGING EQUITY SCHEME - DIRECT PLAN - G...,Growth
4,0.210710,-0.062046,43,41,65,0.955769,M_CAOP,INF760K01EI4,Canara Rob Emerg Equities Fund,CANARA ROBECO AMC LTD-CANARA ROBECO MF-CANARA ...,Growth

# SmallCase Holdings of an Equity

In [9]:
_, raw_data = ttp.get_ticker('Infosys')
slug_url = raw_data[0].get('slug')
print(slug_url)
ttp.get_smallcase_holdings(slug_url)

/stocks/infosys-INFY

,scid,name,publisher,publisherName,slug,iconUrl,cagr,weight,description,minAmount
0,SCMO_0014,Dividend Aristocrats,smallcaseHQ,Windmill Capital,/smallcase/dividend-aristocrats-SCMO_0014,https://assets.smallcase.com/images/smallcases...,19.887931,0.076823,Companies that have been consistently increasi...,74802
1,SCTR_0006,IT Tracker,smallcaseHQ,Windmill Capital,/smallcase/it-tracker-SCTR_0006,https://assets.smallcase.com/images/smallcases...,22.268248,0.100400,Companies to efficiently track and invest in t...,72161

# Dividends History of an Equity this will provide history as well as confirmed upcoming

In [11]:
_, raw_data = ttp.get_ticker('ITC ltd')
slug_url = raw_data[0].get('slug')
print(slug_url)
ttp.get_dividends_history(slug_url)

/stocks/itc-ITC

,_id,description,dividend,exDate,sid,type,title,subType,value,ticker
0,646c0b7999f7f66b45caa04a,Final|6.75,6.75,2023-05-30T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Final,6.75,ITC
1,646c0b7999f7f66b45caa04c,Special|2.75,2.75,2023-05-30T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Special,2.75,ITC
2,63e5926d51bce260ed2944e3,Interim|6,6.00,2023-02-15T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Interim,6,ITC
3,6286e29b9ea2727459ab864f,Final|6.25,6.25,2022-05-26T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Final,6.25,ITC
4,61fdc7129ce5d6ac66a92ecd,Interim|5.25,5.25,2022-02-14T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Interim,5.25,ITC
5,60b8239d66dc38b8cc075b6e,Final|5.75,5.75,2021-06-10T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Final,5.75,ITC

# Key Ratios of a stock or Index

In [15]:
ttp.get_key_ratios('NIFTY 50')

URL :  /indices/nifty-50-index-.NSEI

                                 0
marketCapLabel            Largecap
52wpct                   14.844973
4wpct                     4.262784
52wHigh                   20221.25
52wLow                     16747.7
divYield                  1.293751
pb                        3.744091
pe                       22.629465
5yYldAvg                  1.361877
sharpeRatio               1.054187
constituentsCount               50
etfsCount                       22
marketCap          15782158.542433
marketCapShare           48.240709
risk                             1
12mVol                   11.721368
lastPrice                  20133.3
ticker                    NIFTY 50

# All ETFs under an Index

In [21]:
ttp.get_all_etfs_under_index('.NSEI')

,sid,stock_advancedRatios_etfLiq,stock_advancedRatios_etfLiqLabel,stock_advancedRatios_expenseRatio,stock_advancedRatios_trackErr,stock_info_sector,stock_info_name,stock_info_ticker,stock_info_exchange,stock_info_amc,stock_info_amcDesc,stock_info_description,stock_info_trIndex,stock_info_trIndexName,stock_info_trIndexSlug,stock_info_amcCode,stock_slug
0,NBES,0.187848,High,0.040,0.044449,Equity,Nippon India ETF Nifty BeES,NIFTYBEES,NSE,Nippon Life India Asset Management Limited,Nippon India Mutual Fund is one of India’s lea...,NIPPON INDIA ETF Nifty BeES objective is to pr...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,RMF,/etfs/nippon-india-nifty-50-bees-etf-NBES
1,SBFP,0.326837,High,0.040,0.044449,Equity,SBI-ETF Nifty 50,SETFNIF50,NSE,SBI Funds Management Limited,With 30 years of rich experience in fund manag...,SBI-ETF Nifty 50 objective is to provide retur...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,L,/etfs/sbi-nifty-50-etf-SBFP
2,NETFP,1.792640,High,0.210,0.022224,Equity,Nippon India Nifty Pharma ETF,PHARMABEES,NSE,Nippon Life India Asset Management Limited,Nippon India Mutual Fund is one of India’s lea...,Nippon India Nifty Pharma ETF objective is to ...,.NSEI,NIFTY PHARMA - TRI,/indices/nifty-50-index-.NSEI,RMF,/etfs/nippon-india-nifty-pharma-etf-growth-pla...
3,ICNI,1.873902,High,0.030,0.042861,Equity,ICICI Prudential Nifty ETF,ICICINIFTY,NSE,ICICI Prudential Asset Management Company Limited,ICICI Prudential Asset Management Company Ltd....,ICICI Prudential Nifty iWIN ETF objective is t...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,P,/etfs/icici-prudential-nifty-50-etf-ICNI
4,UTIN,3.217981,High,NaN,0.044449,Equity,UTI-Nifty Exchange Traded Fund,UTINIFTETF,NSE,UTI Asset Management Company Private Limited,"UTI AMC commenced operations from February 1, ...",UTI-Nifty ETF objective is to provide returns ...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,108,/etfs/uti-nifty-50-etf-UTIN
5,ICPR,3.441467,High,0.050,NaN,Equity,Bharat 22 ETF,ICICIB22,NSE,ICICI Prudential Asset Management Company Limited,ICICI Prudential Asset Management Company Ltd....,Bharat 22 ETF objective is to invest in consti...,.NSEI,S&P BSE Bharat 22 Index - TRI,/indices/nifty-index-.NSEI,P,/etfs/bharat-22-etf-ICPR
6,MIRA,4.679838,High,0.050,0.044449,Equity,Mirae Asset Nifty 50 ETF,NIFTYETF,NSE,Mirae Asset Investment Managers (India) Privat...,Mirae Asset Financial Group is one of the key ...,Mirae Asset Nifty 50 ETF objective is to gener...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,MAF,/etfs/mirae-asset-nifty-50-etf-MIRA
7,KOTK,9.610560,High,0.040,0.066673,Equity,Kotak Nifty ETF,KOTAKNIFTY,NSE,Kotak Mahindra Asset Management Company Limited,Kotak Mahindra Asset Management Company Limite...,Kotak Nifty ETF objective is to provide return...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,K,/etfs/kotak-nifty-50-etf-KOTK
8,ICIH,10.981879,High,0.410,0.090485,Equity,ICICI Prudential Alpha Low Vol 30 ETF,ICICIALPLV,NSE,ICICI Prudential Asset Management Company Limited,ICICI Prudential Asset Management Company Ltd....,ICICI Prudential Alpha Low Vol 30 ETF objectiv...,.NSEI,NIFTY Alpha Low-Volatility 30 - TRI,/indices/nifty-index-.NSEI,P,/etfs/icici-prudential-alpha-low-vol-30-etf-ICIH
9,ADIY,11.225764,High,0.050,0.046036,Equity,Aditya BSL Nifty ETF,BSLNIFTY,NSE,Aditya Birla Sun Life AMC Limited,"Aditya Birla Sun Life AMC Limited, is a joint ...",Aditya BSL Nifty ETF objective is to provide r...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,B,/etfs/aditya-bsl-nifty-50-etf-ADIY
10,HDFN,13.346123,High,0.050,0.047624,Equity,HDFC Nifty 50 ETF,HDFCNIFTY,NSE,HDFC Asset Management Company Limited,"HDFC Asset Management Company, investment mana...",HDFC Nifty ETF-Growth objective is to provide ...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,H,/etfs/hdfc-nifty-50-etf-HDFN
11,M50,34.080547,Medium,0.050,0.046036,Equity,Motilal Oswal M50 ETF,MOM50,NSE,Motilal Oswal Asset Management Company Limited,Motilal Oswal Asset Management Company Ltd. (M...,Motilal Oswal MOSt Shares M50 ETF objective is...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,127,/etfs/motilal-oswal-nifty-50-etf-M50
12,QUAN,41.621562,Medium,0.094,0.046036,Equity,Quantum Nifty ETF,QNIFTY,NSE,Quantum Asset Management Company Private Limited,Quantum Asset Management Company Pvt Ltd. is t...,Quantum Nifty ETF objective is to invest in st...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,QMF,/etfs/quantum-nifty-50-etf-QUAN
13,TNI,46.113315,Medium,0.400,0.279391,Equity,Tata Nifty India Digital Etf,TNIDETF,NSE,Tata Asset Management Private Limited,"Established in 1994, Tata Asset Management Pri...",The investment objective of the scheme is to p...,.NSEI,Nifty India Digital - TRI,/indices/nifty-50-index-.NSEI,true,/etfs/tata-nifty-india-digital-etf-TNI
14,TATN,50.449728,Medium,0.080,0.080960,Equity,Tata Nifty Exchange Traded Fund,NETF,NSE,Tata Asset Management Private Limited,"Established in 1994, Tata Asset Management Pri...",Tata Nifty ETF objective of the scheme is to p...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,true,/etfs/tata-nifty-50-etf-TATN
15,LICO,70.230066,Medium,0.100,0.120646,Equity,LIC MF ETF-Nifty 50,LICNETFN50,NSE,LIC Mutual Fund Asset Management Limited,LIC Mutual Fund was established on 20th April ...,LIC MF ETF-Nifty 50 objective is to provide re...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,LIC,/etfs/lic-mf-nifty-50-etf-LICO
16,AISN,73.506677,Medium,0.090,0.046036,Equity,Axis Nifty ETF,AXISNIFTY,NSE,Axis Asset Management Company Ltd.,Axis Asset Management Company Ltd. is the mutu...,Axis Nifty ETF objective is to provide returns...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,128,/etfs/axis-nifty-50-etf-AISN
17,DSPN,237.981929,Low,0.070,0.063498,Equity,DSP Nifty 50 ETF,DSPN50ETF,NSE,DSP Investment Managers Private Limited,DSP Investment Managers is an independent Indi...,DSP Nifty 50 ETF objective is to provide retur...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,D,/etfs/dsp-nifty-50-etf-DSPN
18,IDTI,542.154395,Low,0.530,0.320665,Equity,Indiabulls NIFTY50 Exchange Traded Fund,IBMFNIFTY,NSE,Groww Asset Management Limited,"Indiabulls Housing Finance Limited (""IHFL"") is...",Indiabulls Nifty50 ETF objective is to provide...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,125,/etfs/indiabulls-nifty-50-etf-IDTI
19,IFCN,819.456077,Low,0.090,0.068260,Equity,IDFC NIFTY ETF,IDFNIFTYET,NSE,Bandhan AMC Limited,IDFC AMC Limited is a subsidiary of the IDFC F...,IDFC Nifty ETF objective is to provide returns...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,G,/etfs/idfc-nifty-50-etf-IFCN
20,INVO,1788.194861,Low,0.100,0.058736,Equity,Invesco India Nifty Exchange Traded Fund,IVZINNIFTY,NSE,Invesco Asset Management Company Pvt Ltd.,Invesco is an independent investment managemen...,Invesco India Nifty ETF objective is to provid...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,120,/etfs/invesco-india-nifty-50-etf-INVO
21,EETS,NaN,Low,0.070,2.241481,Equity,Edelweiss Nifty 50 ETF,NIFTYEES,NSE,Edelweiss Asset Management Limited,Edelweiss Asset Management Limited (EAML) is p...,Edelweiss ETF-Nifty 50 objective is to provide...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,EMF,/etfs/edelweiss-nifty-50-etf-EETS

# Tickertape Filters or Screeners
- You can pass any number of filters listed below, you can also pass entire filters list.
- `Sortby` pass the filter name by default it considers the first entry in the filters list
- In the `number of records`  pass n records else it will give entire stocks list available in exchange (~4k stocks)

In [17]:
all_filters = ttp.get_equity_screener_all_filters()
all_filters

{'Market Cap': 'mrktCapf',
 'Sector': 'sector',
 'Sub-Sector': 'subindustry',
 '3Y Historical Dividend Growth': '3YdivGwth',
 '5Y Historical Revenue Growth': '5YrevChg',
 '1Y Hist Op. Cash Flow Growth': 'cfog',
 '5Y Hist Op. Cash Flow Growth': 'cfotr',
 '5Y Historical EBITDA Growth': 'earnings',
 '1Y Historical EBITDA Growth': 'ebitg',
 '5Y Historical EPS Growth': 'epsGwth',
 '1Y Historical EPS Growth': 'epsg',
 '1Y Historical Revenue Growth': 'rvng',
 'Volatility': '12mVol',
 'Volatility vs Nifty': '12mVolN',
 'Alpha': '3Ywal',
 'Sharpe Ratio': '3Ywsh',
 'Beta': 'beta',
 '100D EMA': 'ema100d',
 '10D EMA': 'ema10d',
 '200D EMA': 'ema200d',
 '50D EMA': 'ema50d',
 '1Y Max Loss': 'maxDrawdown',
 '% Price above 1Y SMA': 'pab12Mma',
 '% Price above 1M SMA': 'pab1Mma',
 '% Price above 1M EMA': 'prAvMonthEVA',
 'Relative Volume': 'relVol',
 '100D SMA': 'sma100d',
 '10D SMA': 'sma10d',
 '200D SMA': 'sma200d',
 '50D SMA': 'sma50d',
 'VWAP': 'vWAP',
 '1Y Return vs Nifty': '12mpctN',
 '6M Return': '26wpct',
 '1M Return': '4wpct',
 '1M Return vs Nifty': '4wpctN',
 '% Away From 52W High': '52whd',
 '% Away From 52W Low': '52wld',
 '1Y Return': '52wpct',
 '5Y CAGR': '5yCagrPct',
 '6M Return vs Nifty': '6mpctN',
 'Daily Volume': 'acVol',
 'Face value': 'faceValue',
 'Close Price': 'lastPrice',
 '1D Return': 'pr1d',
 '1W Return': 'pr1w',
 '1W Return vs Nifty': 'pr1wN',
 '1D Change in Volume': 'vol1dChPct',
 '1M Average Volume': 'vol1mAvg',
 '1W Change in Volume': 'vol1wChPct',
 '3M Average Volume': 'vol3mAvg',
 'Basis': 'ftbas',
 'Future Close Price': 'ftcp',
 'Lot Size': 'ftls',
 'Future Open Interest': 'ftoi',
 'Future Volume': 'ftvol',
 'Call Open Interest': 'opcoi',
 'Put Open Interest': 'oppoi',
 '5Y Avg Return on Investment': '5Yaroi',
 '5Y Avg Cash Flow Margin': '5YcafCfoaMgn',
 '5Y Avg Net Profit Margin': '5YpftMrg',
 '5Y Avg Return on Equity': '5Yroe',
 '5Y Avg Return on Assets': '5YrtnAsts',
 'EBITDA Margin': 'aopm',
 'Return on Investment': 'aroi',
 'Cost of Goods Sold': 'balCogs',
 'Cash Flow Margin': 'cafCfoaMgn',
 '5Y Avg EBITDA Margin': 'opmg',
 'Net Profit Margin': 'pftMrg',
 'ROCE': 'roce',
 'Return on Equity': 'roe',
 'Return on Assets': 'rtnAsts',
 'Interest Coverage Ratio': 'aint',
 'Quick Ratio': 'aqui',
 'Asset Turnover Ratio': 'asstTurnR',
 'Cash Conversion Cycle': 'ccnc',
 'Debt to Equity': 'dbtEqt',
 'Earning Power': 'erngPwrR',
 'Inventory Turnover Ratio': 'invTurnR',
 'Long Term Debt to Equity': 'ldbtEqt',
 'Net Income / Liabilities': 'netIncByLbl',
 'Current Ratio': 'qcur',
 'Working Capital Turnover Ratio': 'wcTurnR',
 'PE Ratio': 'apef',
 'Dividend Yield': 'divDps',
 'Enterprise Value': 'ev',
 'EV / Invested Capital': 'evByIc',
 'EV / Revenue Ratio': 'evByRev',
 'EV / Free Cash Flow': 'evCafFcf',
 'EV / EBIT Ratio': 'evebit',
 'EV/EBITDA Ratio': 'evebitd',
 'Sector Dividend Yield': 'inddy',
 'Sector PB': 'indpb',
 'Sector PE': 'indpe',
 'Price / Free Cash Flow': 'lcpCafFcf',
 'PB Ratio': 'pbr',
 'Price / Sales': 'priceBySales',
 'Price / CFO': 'priceCfoR',
 'PS Ratio': 'ps',
 'TTM PE Ratio': 'ttmPe',
 'Accounts Payable': 'balAccp',
 'Additional Paid–in Capital': 'balApic',
 'Share Capital': 'balComs',
 'Cash and Equivalent': 'balCsti',
 'Deferred Tax Liabilities (Net)': 'balDit',
 'Deferred Tax Assets (Net)': 'balDta',
 'Goodwill & Intangibles': 'balGint',
 'Long Term Investments': 'balLti',
 'Minority Interest': 'balMint',
 'Non Current Assets': 'balNca',
 'Non Current Liabilties': 'balNcl',
 'Loans & Advances': 'balNetl',
 'Net Property,Plant & Equipment': 'balNppe',
 'Other Current Assets': 'balOca',
 'Other Current Liabilities': 'balOcl',
 'Other Assets': 'balOtha',
 'Other Liabilities': 'balOthl',
 'Reserves & Surplus': 'balRtne',
 'Total Current Assets': 'balTca',
 'Total Current Liabilities': 'balTcl',
 'Common Shares Outstanding': 'balTcso',
 'Total Debt': 'balTdeb',
 'Total Deposits – Banks': 'balTdep',
 'Total Equity': 'balTeq',
 'Total Inventory': 'balTinv',
 'Long Term Debt': 'balTltd',
 'Total Assets': 'balTota',
 'Total Liabilities': 'balTotl',
 'Total Receivables': 'balTrec',
 'Book Value': 'bookValue',
 'Capital Expenditure': 'cafCexp',
 'Financing Cash Flow': 'cafCffa',
 'Investing Cash Flow': 'cafCfia',
 'Operating Cash Flow': 'cafCfoa',
 'Change in Working Capital': 'cafCiwc',
 'Free Cash Flow': 'cafFcf',
 'Net Change in Cash': 'cafNcic',
 'Total Cash Dividend Paid': 'cafTcdp',
 '\xa0MF Holding Change\xa0–\xa06M': 'chMutHldng6M',
 'Promoter Holding Change\xa0–\xa06M\xa0': 'chPromHldng6M',
 'Domestic Institutional Holding': 'domInstHldng',
 'DII Holding Change\xa0–\xa03M': 'domInstHldng3M',
 'DII Holding Change\xa0–\xa06M': 'domInstHldng6M',
 'Foreign Institutional Holding': 'forInstHldng',
 'FII Holding Change\xa0–\xa03M': 'forInstHldng3M',
 'FII Holding Change\xa0–\xa06M': 'forInstHldng6M',
 'Insurance Firms Holding': 'insHolding',
 'Mutual Fund Holding': 'instown',
 'MF Holding Change\xa0–\xa03M': 'instown3',
 'No. of Shareholders': 'nShareholders',
 'Pledged Promoter Holdings': 'promShrPled',
 'Retail Investor Holding': 'retailHolding',
 'Promoter Holding': 'strown',
 'Promoter Holding Change\xa0–\xa03M': 'strown3',
 'Expense Ratio': 'expenseRatio',
 'Tracking Error': 'trackErr',
 'Depreciation & Amortization': 'incDep',
 'Dividend Per Share': 'incDps',
 'EBITDA': 'incEbi',
 'Employee Cost': 'incEpc',
 'Earnings Per Share': 'incEps',
 'Interest & Other Items': 'incIoi',
 'Net Income': 'incNinc',
 'Operating & Other expenses': 'incOpe',
 'PBIT': 'incPbi',
 'PBT': 'incPbt',
 'Power & Fuel Cost': 'incPfc',
 'Payout Ratio': 'incPyr',
 'Raw Materials': 'incRaw',
 'Selling & Administrative Expenses': 'incSga',
 'Taxes & Other Items': 'incToi',
 'Total Revenue': 'incTrev',
 'EBITDA (Q)': 'qIncEbiK',
 'EPS (Q)': 'qIncEpsK',
 'Net Income (Q)': 'qIncNincK',
 'Operating and Other Expenses (Q)': 'qIncOpeK',
 'PBIT (Q)': 'qIncPbiK',
 'PBT (Q)': 'qIncPbtK',
 'Total revenue (Q)': 'qIncTrevK'}

In [18]:
filtered_list_df = ttp.get_equity_screener_data(filters=["mrktCapf", "lastPrice", "beta"], sortby='mrktCapf', number_of_records=20)
filtered_list_df.head()

,advancedRatios.lastPrice,advancedRatios.beta,advancedRatios.mrktCapf,info.name,info.ticker,info.sector,sid
0,8628.00,0.875084,248719.110965,UltraTech Cement Ltd,ULTRACEMCO,Materials,ULTC
1,1559.95,2.016379,248152.861732,Bajaj Finserv Ltd,BAJAJFINSV,Financials,BJFS
2,3797.90,0.540551,247141.911896,Avenue Supermarts Ltd,DMART,Consumer Discretionary,AVEU
3,186.75,1.095906,234936.714172,Oil and Natural Gas Corporation Ltd,ONGC,Energy,ONGC
4,640.65,1.768541,234694.608046,Tata Motors Ltd,TATAMOTORS,Consumer Discretionary,TAMO