In [1]:
from Fundamentals import Tickertape
import pandas as pd

In [2]:
ttp = Tickertape()

In [3]:
# Searching in tickertape
res, raw_data = ttp.get_ticker('Adani wilmar')
print(res)
raw_data[0]

AWL

{'marketCap': 42038.104478725,
 'ticker': 'AWL',
 'brands': [],
 'searchTags_keyword': ['adani wilmar ltd', 'awl'],
 'marketCapRank': 210,
 'searchTags': ['adani wilmar ltd', 'awl'],
 'exchanges': 'NSE',
 'weight': 1,
 'ticker_keyword': 'AWL',
 'suspended': False,
 'sid': 'AWL',
 'name_suggest': 'Adani Wilmar Ltd',
 'brands_keyword': [],
 'name_keyword': 'Adani Wilmar Ltd',
 'ticker_suggest': 'AWL',
 'name': 'Adani Wilmar Ltd',
 'id': 'AWL',
 'sector': 'Consumer Staples',
 'ticker_key': 'AWL',
 'slug': '/stocks/adani-wilmar-AWL',
 'quote': {'sid': 'AWL',
  'price': 291.1,
  'close': 323.45,
  'change': -32.35,
  'high': 301.6,
  'low': 291.1,
  'volume': 17146053,
  'date': '2025-01-10T10:28:12.000Z'},
 'score': 2187.5227,
 'index': 'stock',
 'type': 'stock',
 'match': 'EXACT'}

In [4]:
# Allowed search_places = ['stock', 'index', 'etf', 'mutualfund', 'space', 'profile', 'smallcase', 'all']
_, raw_data = ttp.get_ticker('Nifty 500', search_place='index')
raw_data[1] # here ticker is the unique id of NSE and sid is the id of Tickertape

{'marketCap': '39726584.15',
 'ticker': 'NIFTY 500',
 'weight': 1,
 'ticker_keyword': 'NIFTY 500',
 'type': 'index',
 'suspended': False,
 'sid': '.NIFTY500',
 'name_suggest': 'Nifty 500 Index',
 'name_keyword': 'Nifty 500 Index',
 'ticker_suggest': 'NIFTY 500',
 'name': 'Nifty 500 Index',
 'id': '.NIFTY500',
 'sector': 'Index',
 'ticker_key': 'NIFTY 500',
 'slug': '/indices/nifty-500-index-.NIFTY500',
 'quote': {'sid': '.NIFTY500',
  'price': 21799,
  'close': 22046.55,
  'change': -247.55,
  'high': 22075.4,
  'low': 21738.45,
  'volume': 0,
  'date': '2025-01-10T10:28:59.519Z'},
 'score': 1178.5251,
 'index': 'index',
 'match': 'EXACT'}

In [5]:
# Get all tickers (sid in Tickertape) of NIFTY 50
ttp.get_all_nifty_50_ticker()

['APSE',
 'ADEL',
 'APLH',
 'AXBK',
 'ASPN',
 'BJFS',
 'BAJA',
 'BJFN',
 'BAJE',
 'BRIT',
 'BRTI',
 'BPCL',
 'CIPL',
 'COAL',
 'REDY',
 'EICH',
 'GRAS',
 'HALC',
 'HDBK',
 'HDFL',
 'HCLT',
 'HLL',
 'HROM',
 'ICBK',
 'ITC',
 'INFY',
 'INBK',
 'JSTL',
 'KTKM',
 'LART',
 'MAHM',
 'MRTI',
 'NEST',
 'ONGC',
 'NTPC',
 'PGRD',
 'RELI',
 'SBI',
 'SBIL',
 'SRTR',
 'SUN',
 'TISC',
 'TACN',
 'TAMO',
 'TCS',
 'TEML',
 'TITN',
 'TREN',
 'ULTC',
 'WIPR']

In [6]:
# Get all tickers of an Index
ttp.get_all_constituents_of_index('.NIFTY500')

,_id,sid,ticker,name,sector,lastPrice,pr1d,slug,freeFloat,type
0,5f6c78c9896509a8eb2f90e6,ADIA,ABFRL,Aditya Birla Fashion and Retail Ltd,Consumer Discretionary,274.10,-0.885916,/stocks/aditya-birla-fashion-and-retail-ADIA,40.023886,stock
1,5f6c78c9896509a8eb2f9120,AFFL,AFFLE,Affle (India) Ltd,Communication Services,1601.55,-2.626539,/stocks/affle-india-AFFL,5.601319,stock
2,5f6c78c9896509a8eb2f90fe,ACEL,ACE,Action Construction Equipment Ltd,Industrials,1342.20,-4.042895,/stocks/action-construction-equipment-ACEL,3.948084,stock
3,5f6c78c9896509a8eb2f90d4,ARTI,AARTIIND,Aarti Industries Ltd,Materials,421.75,2.019836,/stocks/aarti-industries-ARTI,20.680983,stock
4,5f6c78c9896509a8eb2f90f6,ACC,ACC,ACC Ltd,Materials,1931.05,-2.165873,/stocks/acc-ACC,7.986083,stock
...,...,...,...,...,...,...,...,...,...,...
495,664410373a672e86eb74a743,TBO,TBOTEK,Tbo Tek Ltd,Consumer Discretionary,1741.30,-0.091801,/stocks/tbo-tek-TBO,1.702202,stock
496,664410373a672e86eb74a744,AADH,AADHARHFC,Aadhar Housing Finance Ltd,Financials,422.95,0.118357,/stocks/aadhar-housing-finance-AADH,10.311849,stock
497,664ea9de8f4d62459b86f1c6,GODIG,GODIGIT,Go Digit General Insurance Ltd,Financials,285.15,-4.070648,/stocks/go-digit-general-insurance-GODIG,16.661578,stock
498,668de42285c940495c1022ff,EMC,EMCURE,Emcure Pharmaceuticals Ltd,Health Care,1357.90,-5.497947,/stocks/emcure-pharmaceuticals-EMC,2.534311,stock
499,66b17ca3e35bbc2d291ecb01,AKU,AKUMS,Akums Drugs and Pharmaceuticals Ltd,Health Care,618.25,0.137674,/stocks/akums-drugs-and-pharmaceuticals-AKU,2.307621,stock

# Annual Report/ Quarterly Results extracted data
# some params meanings
time_horizon -> result time period (annual / interim (quarterly) )
time_period -> count of records required (any integer (less than 20))
view_type -> **normal** - just show the numbers as is,  **growth** - what is the % of increase happened compared to last entry (either Annually or Quarterly)

In [7]:
ttp.get_income_data('ADAI') # time_horizon = interim (quarterly), time_periods = 10 (10 qtrs), view = Normal

,displayPeriod,endDate,reporting,qIncTrev,qIncRaw,qIncPfc,qIncEpc,qIncSga,qIncOpe,qIncEbi,qIncDep,qIncPbi,qIncIoi,qIncPbt,qIncToi,qIncNinc,qIncEps,qIncDps,qIncPyr
0,JUN 2022,2022-06-30T00:00:00.000Z,consolidated,3784.42,None,None,None,None,2458.63,1325.79,383.98,941.81,739.98,201.83,15.84,185.99,1.50,None,None
1,SEP 2022,2022-09-30T00:00:00.000Z,consolidated,3449.56,None,None,None,None,2087.86,1361.70,397.84,963.86,713.91,249.95,43.78,206.17,1.85,None,None
2,DEC 2022,2022-12-31T00:00:00.000Z,consolidated,3781.94,None,None,None,None,2074.16,1707.78,410.37,1297.41,697.09,600.32,125.60,474.72,4.26,None,None
3,MAR 2023,2023-03-31T00:00:00.000Z,consolidated,3860.12,None,None,None,None,2154.46,1705.66,415.55,1290.11,630.49,659.62,270.17,389.45,3.49,None,None
4,JUN 2023,2023-06-30T00:00:00.000Z,consolidated,3772.25,None,None,None,None,2394.61,1377.64,418.88,958.76,615.67,343.09,168.03,175.06,1.57,None,None
5,SEP 2023,2023-09-30T00:00:00.000Z,consolidated,3766.46,None,None,None,None,2323.73,1442.73,432.05,1010.68,640.81,369.87,93.99,275.88,2.47,None,None
6,DEC 2023,2023-12-31T00:00:00.000Z,consolidated,4824.42,None,None,None,None,3092.09,1732.33,457.64,1274.69,760.04,514.65,189.75,324.90,2.92,None,None
7,MAR 2024,2024-03-31T00:00:00.000Z,consolidated,4910.78,None,None,None,None,3141.33,1769.45,467.51,1301.94,749.99,551.95,190.51,361.44,3.24,None,None
8,JUN 2024,2024-06-30T00:00:00.000Z,consolidated,5489.97,None,None,None,None,5233.89,256.08,497.85,-241.77,810.93,-1052.70,-228.78,-823.92,-7.39,None,None
9,SEP 2024,2024-09-30T00:00:00.000Z,consolidated,6359.80,None,None,None,None,4468.56,1891.24,484.07,1407.17,812.94,594.23,-80.73,674.96,6.09,None,None

In [8]:
ttp.get_income_data('ACC', time_horizon='annual', view_type='growth', num_time_periods=12)

,incTrev,incCrev,incGpro,incOpc,incRaw,incPfc,incEpc,incSga,incOpe,incEbi,...,incIoi,incPbt,incToi,incNinc,incEps,incDps,incPyr,displayPeriod,reporting,endDate
0,22568.220000,NaN,NaN,NaN,5646.910000,5742.720000,1036.200000,6208.850000,1812.340000,2121.20000,...,77.280000,1202.600000,317.530000,885.070000,46.984707,9.250000,0.196873,FY 2023,consolidated,NaN
1,-8.303579,NaN,NaN,NaN,2.308342,-30.294355,-28.855433,-18.697182,-26.513237,79.00198,...,100.025880,129.444537,33.193714,163.975731,163.975731,-18.918919,-69.284646,FY '23 - FY '24,NaN,NaN
2,0.348938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.205328,-7.91232,...,8.041144,-13.657449,-19.450027,-12.608876,-12.608876,0.000000,14.428097,TTM,,

In [9]:
ttp.get_balance_sheet_data('ARTI', num_time_periods=16, growth=True)

,balCsti,balTrec,balTinv,balOca,balTca,balNetl,balNppe,balGint,balLti,balOtha,...,balTeq,balTlse,balTcso,balTpso,balNca,balCa,balNcl,balDta,displayPeriod,reporting
0,33.710000,438.980000,551.730000,173.240000,1197.660000,None,1159.900000,0.000000,139.200000,441.060000,...,1022.270000,2937.820000,42.394489,None,1740.160000,1197.660000,827.750000,NaN,FY 2015,consolidated
1,-14.001780,19.230944,-10.247766,7.602170,3.033415,None,34.369342,NaN,-70.359195,-70.013150,...,16.347932,0.975553,-5.950111,None,-0.440764,3.033415,-20.990637,NaN,FY '15 - FY '16,NaN
2,-1.690238,0.242644,15.392072,3.326002,6.742356,None,26.041513,404.761905,13.814833,27.294723,...,19.920295,17.952927,-1.440224,None,25.937812,6.742356,15.035168,NaN,FY '16 - FY '17,NaN
3,12.631579,24.792727,30.781750,30.206116,27.919283,None,23.822808,-18.867925,0.553663,33.749109,...,16.064418,25.504351,-0.999000,None,24.046456,27.919283,52.815919,NaN,FY '17 - FY '18,NaN
4,2405.295950,18.524628,3.277131,-10.251605,52.949660,None,20.864989,-23.255814,-29.775519,36.082245,...,63.986831,33.393905,6.603502,None,21.219500,52.949660,5.338007,NaN,FY '18 - FY '19,NaN
5,-69.250187,-2.912221,8.278159,-25.155500,-22.204718,None,32.153596,-30.303030,11.610374,32.000783,...,13.212044,8.101141,-3.727968,None,31.906560,-22.204718,10.874035,NaN,FY '19 - FY '20,NaN
6,66.735412,5.347473,11.966303,34.079307,18.092445,None,25.871961,-89.130435,71.629289,-20.870726,...,14.373379,20.673983,0.000000,None,21.869938,18.092445,28.572918,NaN,FY '20 - FY '21,NaN
7,-57.906480,37.517796,-0.166724,121.202462,13.990117,None,1.027525,-100.000000,-55.462846,-51.513731,...,28.492749,2.735132,4.029005,None,-2.317371,13.990117,-32.325070,NaN,FY '21 - FY '22,NaN
8,15.654529,-13.836668,10.376611,-42.557493,-8.876439,None,20.574865,NaN,-39.307176,-39.100458,...,8.946797,9.301221,-12.727019,None,18.823687,-8.876439,-24.955064,90.266763,FY '22 - FY '23,NaN
9,-35.370896,-12.136227,12.472722,23.055749,0.391580,None,15.355781,NaN,33.488643,7.607661,...,7.512600,12.057127,0.000000,None,16.743580,0.391580,99.436575,171.978022,FY '23 - FY '24,NaN

In [10]:
ttp.get_balance_sheet_data('ALKY', num_time_periods=10) # View_type = Normal

,displayPeriod,endDate,reporting,balCsti,balTrec,balTinv,balOca,balTca,balNetl,balNppe,...,balRtne,balOeq,balTeq,balTlse,balTcso,balTpso,balNca,balCa,balNcl,balDta
0,FY 2015,2015-03-31T00:00:00.000Z,standalone,7.86,98.93,70.54,21.10,198.43,None,181.2422,...,151.70,0.00,174.82,402.03,5.101048,None,203.60,198.43,79.03,None
1,FY 2016,2016-03-31T00:00:00.000Z,standalone,4.27,90.30,63.16,26.08,183.81,None,202.9415,...,176.35,0.00,199.47,406.39,5.101048,None,222.58,183.81,75.97,None
2,FY 2017,2017-03-31T00:00:00.000Z,standalone,2.96,97.34,111.41,13.31,225.02,None,254.4792,...,222.45,0.00,245.57,512.21,5.099098,None,287.19,225.02,106.07,None
3,FY 2018,2018-03-31T00:00:00.000Z,standalone,3.23,123.78,85.18,26.19,238.38,None,373.2459,...,274.04,0.00,297.16,637.05,5.099098,None,398.67,238.38,160.35,None
4,FY 2019,2019-03-31T00:00:00.000Z,standalone,20.17,152.63,105.69,33.53,312.02,None,419.2659,...,341.88,0.00,365.00,748.51,5.099098,None,436.49,312.02,135.75,None
5,FY 2020,2020-03-31T00:00:00.000Z,standalone,32.26,164.22,83.67,14.00,294.15,None,468.0687,...,513.48,0.00,536.60,783.39,5.099098,None,489.24,294.15,92.98,None
6,FY 2021,2021-03-31T00:00:00.000Z,standalone,156.28,227.99,122.04,21.76,528.07,None,595.6700,...,767.86,0.12,792.45,1145.49,5.103178,None,617.42,528.07,71.10,None
7,FY 2022,2022-03-31T00:00:00.000Z,standalone,62.57,276.74,164.61,33.73,537.65,None,771.5900,...,963.33,0.00,989.80,1371.40,5.107245,None,833.75,537.65,53.60,None
8,FY 2023,2023-03-31T00:00:00.000Z,standalone,18.23,258.42,183.85,40.32,500.82,None,1071.1900,...,1140.06,0.00,1168.93,1592.09,5.110063,None,1091.27,500.82,68.80,None
9,FY 2024,2024-03-31T00:00:00.000Z,standalone,31.38,221.73,172.38,18.28,443.77,None,1124.8000,...,1236.62,0.00,1267.14,1584.04,5.112139,None,1140.27,443.77,88.56,None

In [11]:
ttp.get_cash_flow_data('TCS', num_time_periods=10, growth=False) # these 2 are default values ideally no need to pass {num_time_periods=10, growth=False}

,displayPeriod,endDate,reporting,cafCiwc,cafCfoa,cafCexp,cafCfia,cafTcdp,cafCffa,cafFee,cafNcic,cafFcf
0,FY 2015,2015-03-31T00:00:00.000Z,consolidated,-6734.54,19368.78,2949.2,-1807.14,17105.57,-17167.61,None,394.03,16419.58
1,FY 2016,2016-03-31T00:00:00.000Z,consolidated,-12522.00,19109.00,1987.0,-5010.00,9515.00,-9666.00,None,4433.00,17122.00
2,FY 2017,2017-03-31T00:00:00.000Z,consolidated,-8577.00,25223.00,1989.0,-16895.00,10973.00,-11026.00,None,-2698.00,23234.00
3,FY 2018,2018-03-31T00:00:00.000Z,consolidated,-7818.00,25067.00,1862.0,3104.00,10760.00,-26885.00,None,1286.00,23205.00
4,FY 2019,2019-03-31T00:00:00.000Z,consolidated,-12127.00,28593.00,2231.0,1645.00,11472.00,-27897.00,None,2341.00,26362.00
5,FY 2020,2020-03-31T00:00:00.000Z,consolidated,-10513.00,32369.00,3249.0,8968.00,37702.00,-39915.00,None,1422.00,29120.00
6,FY 2021,2021-03-31T00:00:00.000Z,consolidated,-8229.00,38802.00,3176.0,-7956.00,10907.00,-32634.00,None,-1788.00,35626.00
7,FY 2022,2022-03-31T00:00:00.000Z,consolidated,-14255.00,39949.00,2995.0,-738.00,13375.00,-33581.00,None,5630.00,36954.00
8,FY 2023,2023-03-31T00:00:00.000Z,consolidated,-17183.00,41965.00,3100.0,548.00,41410.00,-47878.00,None,-5365.00,38865.00
9,FY 2024,2024-03-31T00:00:00.000Z,consolidated,-19371.00,44338.00,2674.0,6091.00,25218.00,-48536.00,None,1893.00,41664.00

# Peers Comparison
comparison type is either `valuation` (default) or  `Technical`

In [12]:
ttp.peers_comparison('TCS') # this comparison is based on valuation

,name,ticker,sid,sector,slug,description,ratios_ttmPe,ratios_pbr,ratios_divDps,ratios_apef
0,Tata Consultancy Services Ltd,TCS,TCS,IT Services & Consulting,/stocks/tata-consultancy-services-TCS,Tata Consultancy Services Limited (TCS) is eng...,31.650011,16.900640,1.711345,33.618313
1,Infosys Ltd,INFY,INFY,IT Services & Consulting,/stocks/infosys-INFY,NaN,30.231807,9.209900,2.337471,31.056950
2,HCL Technologies Ltd,HCLTECH,HCLT,IT Services & Consulting,/stocks/hcl-technologies-HCLT,NaN,32.083471,7.908199,2.613640,34.384196
3,Wipro Ltd,WIPRO,WIPR,IT Services & Consulting,/stocks/wipro-WIPR,NaN,26.749278,4.206114,0.166375,28.433883
4,LTIMindtree Ltd,LTIM,LRTI,IT Services & Consulting,/stocks/larsen-and-toubro-infotech-LRTI,NaN,38.985151,9.059107,1.060547,39.593483

In [13]:
ttp.peers_comparison('TAMO', comparison_type='technical')

,name,ticker,sid,sector,slug,description,ratios_12mVol,ratios_14dRsi
0,Tata Motors Ltd,TATAMOTORS,TAMO,Four Wheelers,/stocks/tata-motors-TAMO,Tata Motors Limited is an automobile company e...,29.343969,66.124920
1,Mahindra and Mahindra Ltd,M&M,MAHM,Four Wheelers,/stocks/mahindra-and-mahindra-MAHM,NaN,32.103124,65.459218
2,Maruti Suzuki India Ltd,MARUTI,MRTI,Four Wheelers,/stocks/maruti-suzuki-india-MRTI,NaN,24.108085,66.971197
3,Hyundai Motor India Ltd,HYUNDAI,HYU,Four Wheelers,/stocks/hyundai-motor-india-HYU,NaN,26.209531,55.049552
4,Force Motors Ltd,FORCEMOT,FORC,Four Wheelers,/stocks/force-motors-FORC,NaN,55.325347,48.364680

# TickerTape SCORE CARD

In [14]:
ttp.get_score_card('INFY')

,name,tag,type,description,colour,rank,peers,locked,callout,comment,stack,elements,score_percentage,score_max,score_value,score_key,score
0,Performance,Low,score,Hasn't fared well - amongst the low performers,red,None,None,True,None,None,1,[],False,10.0,NaN,Performance,NaN
1,Valuation,High,score,Seems to be overvalued vs the market average,red,None,None,True,None,None,2,[],False,10.0,NaN,Valuation,NaN
2,Growth,Low,score,Lagging behind the market in financials growth,red,None,None,True,None,None,3,[],False,10.0,NaN,Growth,NaN
3,Profitability,High,score,Showing good signs of profitability & efficiency,green,None,None,True,None,None,4,[],False,10.0,NaN,Profitability,NaN
4,Entry point,Good,entryPoint,The stock is underpriced and is not in the ove...,green,None,None,False,None,None,5,"[{'title': 'Fundamentals', 'type': 'flag', 'de...",NaN,NaN,NaN,NaN,NaN
5,Red flags,Low,redFlag,No red flag found,green,None,None,False,None,None,6,"[{'title': 'ASM', 'type': 'flag', 'description...",NaN,NaN,NaN,NaN,NaN

# Share Holding Pattern Q-O-Q

In [15]:
_, raw_data = ttp.get_ticker('Tata consult') # TCS
slug_url = raw_data[0].get('slug')
print(slug_url)
ttp.get_share_holding_pattern(slug_url)

/stocks/tata-consultancy-services-TCS

,date,data_pmPctT,data_pmPctP,data_plPctT,data_uPlPctT,data_mfPctT,data_isPctT,data_diPctT,data_othDiPctT,data_othExInsDiPctT,data_fiPctT,data_rhPctT,data_othPctT,data_rOthPctT
0,2023-06-30T00:00:00.000Z,72.297047,0.477552,0.345256,71.951791,3.482790,5.737781,9.808078,6.325288,0.587508,12.514083,4.494516,0.886277,5.380793
1,2023-09-30T00:00:00.000Z,72.297047,0.477552,0.345256,71.951791,3.490914,5.898061,10.064172,6.573258,0.675197,12.471288,4.309378,0.858114,5.167493
2,2023-12-31T00:00:00.000Z,72.412804,0.482187,0.349165,72.063639,3.508293,5.917744,10.088976,6.580683,0.662940,12.469608,4.188144,0.840468,5.028612
3,2024-03-31T00:00:00.000Z,71.766054,0.275750,0.197895,71.568159,4.051627,5.977892,10.668815,6.617188,0.639296,12.699170,4.047523,0.818438,4.865961
4,2024-06-30T00:00:00.000Z,71.766054,0.275750,0.197895,71.568159,4.249089,6.127442,11.057136,6.808047,0.680605,12.356210,4.029737,0.790864,4.820600
5,2024-09-30T00:00:00.000Z,71.766054,0.275750,0.197895,71.568159,4.248089,5.960481,10.911053,6.662963,0.702482,12.657080,3.888777,0.777037,4.665814

# Mutual Funds Holdings of an Equity

In [16]:
_, raw_data = ttp.get_ticker('tata consumer')
slug_url = raw_data[0].get('slug')
print(slug_url)
ttp.get_mutual_fund_holdings(slug_url)

/stocks/tata-consumer-products-TACN

,marketCapPct,change3m,currentRank,prevRank,securities,weight,meta_mfId,meta_isin,meta_name,meta_fullName,meta_option
0,0.481799,-0.212989,23,20,49,1.285523,M_HDCTP,INF179K01YV8,HDFC Large Cap Fund,HDFC Large Cap Fund - Growth - Direct Plan,Growth
1,0.475770,0.184290,12,14,106,1.835041,M_CAOP,INF760K01EI4,Canara Rob Emerg Equities Fund,Canara Robeco Emerging Equities - Growth - Dir...,Growth
2,0.353369,-0.165597,28,22,237,0.547311,M_NIMS,INF204K01K15,Nippon India Small Cap Fund,Nippon India Small Cap Fund - Growth - Direct ...,Growth
3,0.333528,-0.064108,19,18,91,1.443780,M_ADTUE,INF209K01XX1,Aditya Birla SL Flexi Cap Fund,Aditya Birla Sun Life Flexi Cap Fund - Growth ...,Growth
4,0.314836,-0.301997,35,27,79,0.846507,M_NIGE,INF204K01XI3,Nippon India Large Cap Fund,Nippon India Large Cap Fund - Growth - Direct ...,Growth

# SmallCase Holdings of an Equity

In [17]:
_, raw_data = ttp.get_ticker('Infosys')
slug_url = raw_data[0].get('slug')
print(slug_url)
ttp.get_smallcase_holdings(slug_url)

/stocks/infosys-INFY

,scid,name,publisher,publisherName,slug,iconUrl,cagr,weight,description,minAmount
0,SCMO_0014,Dividend Aristocrats,smallcaseHQ,Windmill Capital,/smallcase/dividend-aristocrats-SCMO_0014,https://assets.smallcase.com/images/smallcases...,7.485511,0.091357,Companies that have been consistently increasi...,70143
1,SCTR_0006,IT Tracker,smallcaseHQ,Windmill Capital,/smallcase/it-tracker-SCTR_0006,https://assets.smallcase.com/images/smallcases...,16.148352,0.115619,Companies to efficiently track and invest in t...,105380

# Dividends History of an Equity this will provide history as well as confirmed upcoming

In [18]:
_, raw_data = ttp.get_ticker('ITC ltd')
slug_url = raw_data[0].get('slug')
print(slug_url)
ttp.get_dividends_history(slug_url)

/stocks/itc-ITC

,_id,description,dividend,exDate,sid,type,title,subType,value,ticker
0,665a6dfe05bb6ca068f1f359,Final|7.5,7.095100,2024-06-04T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Final,7.5,ITC
1,65b997d88a2dd7eecd38ac4d,Interim|6.25,5.912583,2024-02-08T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Interim,6.25,ITC
2,646c0b7999f7f66b45caa04a,Final|6.75,6.385590,2023-05-30T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Final,6.75,ITC
3,646c0b7999f7f66b45caa04c,Special|2.75,2.601537,2023-05-30T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Special,2.75,ITC
4,63e5926d51bce260ed2944e3,Interim|6,5.676080,2023-02-15T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Interim,6,ITC
5,6286e29b9ea2727459ab864f,Final|6.25,5.912583,2022-05-26T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Final,6.25,ITC

# Key Ratios of a stock or Index

In [19]:
_, raw_data = ttp.get_ticker('Adani Ports')
slug_url = raw_data[0].get('slug')
print(slug_url)
ttp.get_key_ratios(slug_url)

/stocks/adani-ports-and-special-economic-zone-APSE

                             0
risk                  2.877618
3mAvgVol        4600974.253968
4wpct               -10.894712
52wHigh                 1621.4
52wLow                  995.65
52wpct               -8.411908
beta                  1.182014
bps                 253.132097
divYield              0.539471
eps                  37.546844
inddy                 0.599463
indpb                  6.58432
indpe                45.343752
marketCap        240250.653463
mrktCapRank                 30
pb                    4.393753
pe                   29.621664
roe                  15.946559
nShareholders          1186670
lastPrice               1112.2
ttmPe                24.500622
marketCapLabel        Largecap
12mVol               40.879596
mrktCapf         240250.653463
apef                 29.621664
pbr                   4.393753
etfLiq                0.017533
etfLiqLabel               High

In [20]:
_, raw_data = ttp.get_ticker('NIFTY 50')
slug_url = raw_data[0].get('slug')
print(slug_url)
ttp.get_key_ratios(slug_url)

/indices/nifty-50-index-.NSEI

                                 0
marketCapLabel            Largecap
52wpct                    8.385333
4wpct                    -4.568069
52wHigh                   26277.35
52wLow                     21137.2
divYield                   1.20538
pb                        3.993036
pe                       23.869136
5yYldAvg                  1.361877
sharpeRatio               1.054187
constituentsCount               50
etfsCount                       20
marketCap          18724964.805983
marketCapShare            42.59679
risk                             1
12mVol                   14.910784
lastPrice                  23431.5

# All ETFs under an Index

In [21]:
ttp.get_all_etfs_under_index('.NSEI')

,sid,stock_advancedRatios_etfLiq,stock_advancedRatios_etfLiqLabel,stock_advancedRatios_expenseRatio,stock_advancedRatios_trackErr,stock_info_sector,stock_info_name,stock_info_ticker,stock_info_exchange,stock_info_amc,stock_info_amcDesc,stock_info_description,stock_info_trIndex,stock_info_trIndexName,stock_info_trIndexSlug,stock_info_amcCode,stock_slug
0,NBES,0.080679,High,0.0400,0.033336,Equity,Nippon India ETF Nifty 50 BeES,NIFTYBEES,NSE,Nippon Life India Asset Management Limited,Nippon India Mutual Fund is one of India’s lea...,NIPPON INDIA ETF Nifty BeES objective is to pr...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,RMF,/etfs/nippon-india-nifty-50-bees-etf-NBES
1,SBFP,0.423574,High,0.0400,0.030162,Equity,SBI Nifty 50 ETF,SETFNIF50,NSE,SBI Funds Management Limited,With 30 years of rich experience in fund manag...,SBI-ETF Nifty 50 objective is to provide retur...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,L,/etfs/sbi-nifty-50-etf-SBFP
2,ICNI,0.606283,High,0.0259,0.030162,Equity,ICICI Prudential Nifty 50 ETF,NIFTYIETF,NSE,ICICI Prudential Asset Management Company Limited,ICICI Prudential Asset Management Company Ltd....,ICICI Prudential Nifty iWIN ETF objective is t...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,P,/etfs/icici-prudential-nifty-50-etf-ICNI
3,MIRA,0.853089,High,0.0400,0.030162,Equity,Mirae Asset Nifty 50 ETF,NIFTYETF,NSE,Mirae Asset Investment Managers (India) Privat...,Mirae Asset Financial Group is one of the key ...,Mirae Asset Nifty 50 ETF objective is to gener...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,MAF,/etfs/mirae-asset-nifty-50-etf-MIRA
4,UTIN,3.078506,High,0.0500,0.031749,Equity,UTI Nifty 50 ETF,UTINIFTETF,NSE,UTI Asset Management Company Private Limited,"UTI AMC commenced operations from February 1, ...",UTI-Nifty ETF objective is to provide returns ...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,108,/etfs/uti-nifty-50-etf-UTIN
5,KOTK,3.741114,High,0.0400,0.034924,Equity,Kotak Nifty 50 ETF,NIFTY1,NSE,Kotak Mahindra Asset Management Company Limited,Kotak Mahindra Asset Management Company Limite...,Kotak Nifty ETF objective is to provide return...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,K,/etfs/kotak-nifty-50-etf-KOTK
6,HDFN,4.135987,High,0.0500,0.028574,Equity,HDFC Nifty 50 ETF,HDFCNIFTY,NSE,HDFC Asset Management Company Limited,"HDFC Asset Management Company, investment mana...",HDFC Nifty ETF-Growth objective is to provide ...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,H,/etfs/hdfc-nifty-50-etf-HDFN
7,DSPN,4.601869,High,0.0700,0.030162,Equity,DSP Nifty 50 ETF,NIFTY50ADD,NSE,DSP Investment Managers Private Limited,DSP Investment Managers is an independent Indi...,DSP Nifty 50 ETF objective is to provide retur...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,D,/etfs/dsp-nifty-50-etf-DSPN
8,ADIY,4.820524,High,0.0600,0.036511,Equity,Aditya BSL Nifty 50 ETF,BSLNIFTY,NSE,Aditya Birla Sun Life AMC Limited,"Aditya Birla Sun Life AMC Limited, is a joint ...",Aditya BSL Nifty ETF objective is to provide r...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,B,/etfs/aditya-bsl-nifty-50-etf-ADIY
9,NIFT,14.940680,High,0.0700,0.039686,Equity,Bajaj Finserv Nifty 50 ETF,NIFTYBETF,NSE,Bajaj Finserv Asset Management Limited,NaN,Bajaj Finserv Nifty 50 ETF seeks to replicate ...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,189,/etfs/bajaj-finserv-nifty-50-etf-NIFT
10,AISN,29.657318,Medium,0.0700,0.047624,Equity,Axis Nifty 50 ETF,AXISNIFTY,NSE,Axis Asset Management Company Ltd.,Axis Asset Management Company Ltd. is the mutu...,Axis Nifty ETF objective is to provide returns...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,128,/etfs/axis-nifty-50-etf-AISN
11,QUAN,50.183848,Medium,0.0900,0.034924,Equity,Quantum Nifty 50 ETF,QNIFTY,NSE,Quantum Asset Management Company Private Limited,Quantum Asset Management Company Pvt Ltd. is t...,Quantum Nifty ETF objective is to invest in st...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,QMF,/etfs/quantum-nifty-50-etf-QUAN
12,M50,67.505017,Medium,0.0600,0.034924,Equity,Motilal Oswal M50 ETF,MOM50,NSE,Motilal Oswal Asset Management Company Limited,Motilal Oswal Asset Management Company Ltd. (M...,Motilal Oswal MOSt Shares M50 ETF objective is...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,127,/etfs/motilal-oswal-nifty-50-etf-M50
13,LICO,73.485567,Medium,0.0600,0.038099,Equity,LIC MF Nifty 50 ETF,LICNETFN50,NSE,LIC Mutual Fund Asset Management Limited,LIC Mutual Fund was established on 20th April ...,LIC MF ETF-Nifty 50 objective is to provide re...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,LIC,/etfs/lic-mf-nifty-50-etf-LICO
14,TATN,76.899850,Medium,0.0700,0.120646,Equity,Tata Nifty 50 ETF,NETF,NSE,Tata Asset Management Private Limited,"Established in 1994, Tata Asset Management Pri...",Tata Nifty ETF objective of the scheme is to p...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,T,/etfs/tata-nifty-50-etf-TATN
15,INVO,244.432940,Low,0.1000,0.034924,Equity,Invesco India Nifty 50 ETF,IVZINNIFTY,NSE,Invesco Asset Management Company Pvt Ltd.,Invesco is an independent investment managemen...,Invesco India Nifty ETF objective is to provid...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,120,/etfs/invesco-india-nifty-50-etf-INVO
16,NAVI,256.275175,Low,0.0500,0.182557,Equity,Navi NIFTY 50 ETF,NAVINIFTY,NSE,Navi AMC Limited,NaN,Navi NIFTY 50 ETF seeks to replicate the retur...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,PLF,/etfs/navi-nifty-50-etf-NAVI
17,IFCN,370.501056,Low,0.0900,0.046036,Equity,IDFC Nifty 50 ETF,IDFNIFTYET,NSE,Bandhan AMC Limited,IDFC AMC Limited is a subsidiary of the IDFC F...,"The fund seeks to provide returns that, before...",.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,G,/etfs/idfc-nifty-50-etf-IFCN
18,IDTI,NaN,Low,0.5200,1.054067,Equity,Indiabulls NIFTY50 Exchange Traded Fund,IBMFNIFTY,NSE,Groww Asset Management Limited,"Indiabulls Housing Finance Limited (""IHFL"") is...",Indiabulls Nifty50 ETF objective is to provide...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,125,/etfs/indiabulls-nifty-50-etf-IDTI
19,EETS,NaN,Low,0.0700,2.241481,Equity,Edelweiss Nifty 50 ETF,NIFTYEES,NSE,Edelweiss Asset Management Limited,Edelweiss Asset Management Limited (EAML) is p...,Edelweiss ETF-Nifty 50 objective is to provide...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,EMF,/etfs/edelweiss-nifty-50-etf-EETS

# Tickertape Filters or Screeners
- You can pass any number of filters listed below, you can also pass entire filters list.
- `Sortby` pass the filter name by default it considers the first entry in the filters list
- In the `number of records`  pass n records else it will give entire stocks list available in exchange (~4k stocks)

In [22]:
all_filters = ttp.get_equity_screener_all_filters()
all_filters

{'Sub-Sector': 'subindustry',
 'Market Cap': 'mrktCapf',
 'Sector': 'sector',
 'Close Price / 50D SMA': 'lastPrice,sma50d,/',
 'Close Price / 200D SMA': 'lastPrice,sma200d,/',
 'Return on Equity': 'roe',
 'Return on Assets': 'rtnAsts',
 'Net Profit Margin': 'pftMrg',
 '5Y Avg Return on Equity': '5Yroe',
 '5Y Avg Return on Assets': '5YrtnAsts',
 '5Y Avg Net Profit Margin': '5YpftMrg',
 '5Y Avg EBITDA Margin': 'opmg',
 'EBITDA Margin': 'aopm',
 '5Y Avg Return on Investment': '5Yaroi',
 'Return on Investment': 'aroi',
 '5Y Avg Cash Flow Margin': '5YcafCfoaMgn',
 'Cash Flow Margin': 'cafCfoaMgn',
 'Cost of Goods Sold': 'balCogs',
 'ROCE': 'roce',
 'Close Price': 'lastPrice',
 '1D Return': 'pr1d',
 'Daily Volume': 'acVol',
 '1W Return': 'pr1w',
 '1M Return vs Nifty': '4wpctN',
 '3M Average Volume': 'vol3mAvg',
 '1Y Return vs Nifty': '12mpctN',
 '6M Return vs Nifty': '6mpctN',
 '6M Return': '26wpct',
 '1M Return': '4wpct',
 '1W Return vs Nifty': 'pr1wN',
 '% Away From 52W High': '52whd',
 '% Away From 52W Low': '52wld',
 '1W Change in Volume': 'vol1wChPct',
 '1D Change in Volume': 'vol1dChPct',
 '1Y Return': '52wpct',
 '1M Average Volume': 'vol1mAvg',
 '5Y CAGR': '5yCagrPct',
 'Face value': 'faceValue',
 'Debt to Equity': 'dbtEqt',
 'Long Term Debt to Equity': 'ldbtEqt',
 'Cash Conversion Cycle': 'ccnc',
 'Quick Ratio': 'aqui',
 'Current Ratio': 'qcur',
 'Interest Coverage Ratio': 'aint',
 'Working Capital Turnover Ratio': 'wcTurnR',
 'Inventory Turnover Ratio': 'invTurnR',
 'Asset Turnover Ratio': 'asstTurnR',
 'Earning Power': 'erngPwrR',
 'Net Income / Liabilities': 'netIncByLbl',
 '1Y Historical Revenue Growth': 'rvng',
 '5Y Historical Revenue Growth': '5YrevChg',
 '5Y Historical EPS Growth': 'epsGwth',
 '5Y Historical EBITDA Growth': 'earnings',
 '1Y Historical EBITDA Growth': 'ebitg',
 '1Y Hist Op. Cash Flow Growth': 'cfog',
 '1Y Historical EPS Growth': 'epsg',
 '3Y Historical Dividend Growth': '3YdivGwth',
 '5Y Hist Op. Cash Flow Growth': 'cfotr',
 'PE Ratio': 'apef',
 'Dividend Yield': 'divDps',
 'PB Ratio': 'pbr',
 'PS Ratio': 'ps',
 'EV/EBITDA Ratio': 'evebitd',
 'EV / Revenue Ratio': 'evByRev',
 'EV / Free Cash Flow': 'evCafFcf',
 'Price / Free Cash Flow': 'lcpCafFcf',
 'EV / Invested Capital': 'evByIc',
 'Price / CFO': 'priceCfoR',
 'Price / Sales': 'priceBySales',
 'Enterprise Value': 'ev',
 'EV / EBIT Ratio': 'evebit',
 'Sector PB': 'indpb',
 'Sector PE': 'indpe',
 'Sector Dividend Yield': 'inddy',
 'TTM PE Ratio': 'ttmPe',
 'Domestic Institutional Holding': 'domInstHldng',
 'Mutual Fund Holding': 'instown',
 'Foreign Institutional Holding': 'forInstHldng',
 'MF Holding Change\xa0–\xa03M': 'instown3',
 'Promoter Holding': 'strown',
 '\xa0MF Holding Change\xa0–\xa06M': 'chMutHldng6M',
 'FII Holding Change\xa0–\xa03M': 'forInstHldng3M',
 'DII Holding Change\xa0–\xa03M': 'domInstHldng3M',
 'DII Holding Change\xa0–\xa06M': 'domInstHldng6M',
 'Promoter Holding Change\xa0–\xa06M\xa0': 'chPromHldng6M',
 'FII Holding Change\xa0–\xa06M': 'forInstHldng6M',
 'Promoter Holding Change\xa0–\xa03M': 'strown3',
 'Pledged Promoter Holdings': 'promShrPled',
 'Insurance Firms Holding': 'insHolding',
 'Retail Investor Holding': 'retailHolding',
 'No. of Shareholders': 'nShareholders',
 'Lot Size': 'ftls',
 'Future Close Price': 'ftcp',
 'Basis': 'ftbas',
 'Future Open Interest': 'ftoi',
 'Call Open Interest': 'opcoi',
 'Future Volume': 'ftvol',
 'Put Open Interest': 'oppoi',
 '% Price above 1M SMA': 'pab1Mma',
 'Beta': 'beta',
 '% Price above 1Y SMA': 'pab12Mma',
 'Relative Volume': 'relVol',
 '% Price above 1M EMA': 'prAvMonthEVA',
 'Sharpe Ratio': '3Ywsh',
 'Alpha': '3Ywal',
 'Volatility vs Nifty': '12mVolN',
 'Volatility': '12mVol',
 'VWAP': 'vWAP',
 '100D SMA': 'sma100d',
 '200D SMA': 'sma200d',
 '200D EMA': 'ema200d',
 '1Y Max Loss': 'maxDrawdown',
 '50D EMA': 'ema50d',
 '10D EMA': 'ema10d',
 '50D SMA': 'sma50d',
 '10D SMA': 'sma10d',
 '100D EMA': 'ema100d',
 'Interest & Other Items': 'incIoi',
 'Taxes & Other Items': 'incToi',
 'Total Revenue': 'incTrev',
 'Payout Ratio': 'incPyr',
 'Depreciation & Amortization': 'incDep',
 'Earnings Per Share': 'incEps',
 'Net Income': 'incNinc',
 'PBT': 'incPbt',
 'Dividend Per Share': 'incDps',
 'EBITDA': 'incEbi',
 'PBIT': 'incPbi',
 'Raw Materials': 'incRaw',
 'Employee Cost': 'incEpc',
 'Operating & Other expenses': 'incOpe',
 'Power & Fuel Cost': 'incPfc',
 'Selling & Administrative Expenses': 'incSga',
 'Total revenue (Q)': 'qIncTrevK',
 'PBT (Q)': 'qIncPbtK',
 'EBITDA (Q)': 'qIncEbiK',
 'Operating and Other Expenses (Q)': 'qIncOpeK',
 'EPS (Q)': 'qIncEpsK',
 'Net Income (Q)': 'qIncNincK',
 'PBIT (Q)': 'qIncPbiK',
 'Total Receivables': 'balTrec',
 'Share Capital': 'balComs',
 'Cash and Equivalent': 'balCsti',
 'Reserves & Surplus': 'balRtne',
 'Accounts Payable': 'balAccp',
 'Long Term Investments': 'balLti',
 'Total Debt': 'balTdeb',
 'Total Assets': 'balTota',
 'Total Deposits – Banks': 'balTdep',
 'Total Current Assets': 'balTca',
 'Financing Cash Flow': 'cafCffa',
 'Additional Paid–in Capital': 'balApic',
 'Total Inventory': 'balTinv',
 'Total Cash Dividend Paid': 'cafTcdp',
 'Total Current Liabilities': 'balTcl',
 'Total Equity': 'balTeq',
 'Net Property,Plant & Equipment': 'balNppe',
 'Minority Interest': 'balMint',
 'Long Term Debt': 'balTltd',
 'Operating Cash Flow': 'cafCfoa',
 'Common Shares Outstanding': 'balTcso',
 'Deferred Tax Liabilities (Net)': 'balDit',
 'Investing Cash Flow': 'cafCfia',
 'Net Change in Cash': 'cafNcic',
 'Change in Working Capital': 'cafCiwc',
 'Loans & Advances': 'balNetl',
 'Total Liabilities': 'balTotl',
 'Goodwill & Intangibles': 'balGint',
 'Capital Expenditure': 'cafCexp',
 'Non Current Liabilties': 'balNcl',
 'Non Current Assets': 'balNca',
 'Free Cash Flow': 'cafFcf',
 'Deferred Tax Assets (Net)': 'balDta',
 'Book Value': 'bookValue',
 'Other Liabilities': 'balOthl',
 'Other Current Liabilities': 'balOcl',
 'Other Assets': 'balOtha',
 'Other Current Assets': 'balOca',
 'Expense Ratio': 'expenseRatio',
 'Tracking Error': 'trackErr'}

In [23]:
filtered_list_df = ttp.get_equity_screener_data(filters=["mrktCapf", "lastPrice", "beta"], sortby='mrktCapf', number_of_records=20)
filtered_list_df.head()

,advancedRatios.lastPrice,advancedRatios.beta,advancedRatios.mrktCapf,info.name,info.ticker,info.sector,sid
0,1241.90,1.001020,1.680585e+06,Reliance Industries Ltd,RELIANCE,Energy,RELI
1,4265.65,0.601417,1.543350e+06,Tata Consultancy Services Ltd,TCS,Information Technology,TCS
2,1656.75,1.095953,1.267132e+06,HDFC Bank Ltd,HDFCBANK,Financials,HDBK
3,1615.90,0.615092,9.668636e+05,Bharti Airtel Ltd,BHARTIARTL,Communication Services,BRTI
4,1249.85,1.261440,8.823835e+05,ICICI Bank Ltd,ICICIBANK,Financials,ICBK